  body { padding-top: 80px; }
  @media ( min-width: 768px ) {
    #banner {
      min-height: 300px;
      border-bottom: none;
    }
    .bs-docs-section {
      margin-top: 8em;
    }
    .bs-component {
      position: relative;
    }
    .bs-component .modal {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      z-index: 1;
      display: block;
    }
    .bs-component .modal-dialog {
      width: 90%;
    }
    .bs-component .popover {
      position: relative;
      display: inline-block;
      width: 220px;
      margin: 20px;
    }
    .nav-tabs {
      margin-bottom: 15px;
    }
    .progress {
      margin-bottom: 10px;
    } 
    .jumbotron {
/*      background-image: url("../images/saga-univ.jpg") center no-repeat;
*/
      background-image: url("../images/saga-univ.jpg");
      background-size: cover;
    }
    .jumbotron h2, h3{
      color: white;
      background-color: rgba(44,62,80,0.8);
    }
      .jumbotron blockquote{
      background-color: rgba(255,255,255,0.4);
    }

}